{% extends 'base.html' %}

{% block title %}
<title>نبذة عنا</title>
{% endblock %}


{% block content %}

<div class="about-container">
    <div class="about-box">
        <h2>نبذة تعريفية عن متجرنا</h2>
        <p>
            إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. هذا النص يمكن أن
            يتم تركيبه على أي تصميم, ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث
            يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب غريب عجيب,
            حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق

            مثال نص عربى كبير هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة ومن هنا وجب على المصمم أن يضع نصوصا
            مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل,
            لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق.
        </p>
    </div>
    <div class="img-box">
        <img src="../static/images/Logo4.png" alt="شعار متجر ساز">
    </div>

    <div class="img-box">
        <img src="../static/images/sazlogo.png" alt="شعار متجر ساز">
    </div>

    <div class="about-box">
        <h2>فكرة متجرنا</h2>
        <p>
            ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر
            على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق غريب عجيب
            إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد., هذا النص هو مثال
            لنص يمكن أن يستبدل في نفس المساحة ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص،
            حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب تم توليد هذا النص
            العرب من موقعه لفه هذا النص يمكن أن يتم تركيبه على أي تصميم, دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم،
            غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.
        </p>
    </div>

</div>

{% endblock %}