{% extends 'base.html' %}

{% block title %}
<title>منتجاتنا</title>
{% endblock %}

{% block content %}

<style>
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .navbar {
        margin-bottom: 0px;
    }
</style>

<div class="products-container">
    <aside class="sidebar">
        {% for category in categories %}
        <p>{{ category[1] }}</p>
        {% for subcategory in subcategories %}
        {% if category[0] == subcategory[1] %}
        <a href="{{ url_for('viewProducts', subcat_id=subcategory[0]) }}">{{ subcategory[2] }}</a>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </aside>
    ​
    <div class="content">
        {% if subcat_id == 0 %}
        <h2>جميع المنتجات</h2>
        {% else %}
        <h2>منتجات {{ subcat_name[0] }}</h2>
        {% endif %}


        <div class="items-container">
            {% for item in items %}
            <div class="item-div">
                <h4>{{  item[2] }}</h4>
                <div class="img-container">
                    <img class="item-img" src="{{  item[3] }}" alt="">
                </div>
                <p>السعر: <span>{{  item[4] }} SAR</span></p>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

{% endblock %}